* {
    margin: 5px;
}

body {
    background: rgb(235, 233, 233);
}

h1 {
    background: rgb(255, 230, 0);
    padding: 5px;
    text-align: center;
    text-shadow: whitesmoke;
    font-weight: bolder;
}



main {
    background: rgba(151, 148, 127, 0.5);
}

p {
    font-size: xx-large;
    text-indent: 50px;
    line-height: 1.6;
    margin-bottom: 30px;
}

img {
    border-radius: 50%;
    margin-left: 45%;
}

.aim-section {
    font-weight: normal;
    text-decoration: underline;
}

.refrences {
    text-align: center;
}

.refrence-list {
    text-align: left;
    line-height: 1.9;
    padding-left: 75px;
    text-indent: -75px;
}